/* RESPONSIVE STYLE START */

/*RESPONSIVE*/
@media (min-width: 320px) and (max-width: 480px) {
	body{
		padding-top: 30px;
	}
	.navbar-brand img{
		width: 45px;
		height: 45px;
	}
	.slider-content h4{
		font-size: 2.5rem;
	}
	.slider-content h4 span{
		font-size: 1rem;
		font-weight: 400;
	}
	.slider-bottom{
		margin-top: 0px;
	}
	.bottom-content{
		border: 0px;
	}
	.counter-info{
		font-size: 1.2rem;
	}
	.counter{
		background-size: cover;
	}
	.contact .contact-add{
		margin-top: 30px;
	}
}
@media (min-width: 481px) and (max-width: 768px) {
	
}